<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="SmokeTestSuite">
  <listeners>
  	<listener class-name="com.automation.framework.reporting.ReportListener"></listener>
  </listeners>
  <test thread-count="5" name="testone">
    <packages>
      <package name="com.automation.framework.tests"/>
    </packages>
  </test> <!-- testone -->
</suite> <!-- SmokeTestSuite -->
